*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  padding-top: 70px;
}

li {
  list-style: none;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.inline {
  display: flex;
  justify-content: space-between;
}

h2 {
  font-size: 24px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: bold;
}

.hero .social-buttons {
  margin: 20px 0;
}

.hero .social-button {
  height: 30px;
  width: 30px;
  margin-left: 5px;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;
}

.hero p {
  max-width: 600px;
}

.section-container {
  width: 100%;
  min-height: 500px;
  background-color: #f2f2f2;
}

.section-container section {
  display: none;
  width: 100%;
  min-height: 500px;
  background-color: #f2f2f2;
  padding: 15px;
}

.section-container section.active {
  display: flex;
}

.section-container section .details {
  position: relative;
}

.slick-prev,
.slick-next {
  position: absolute;
  bottom: 10px;
  border: 0;
  background: transparent;
  color: #cdcdcd;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
}

.slick-prev {
  left: 15px;
  background: url('../images/previous_page_arrow.svg') center left no-repeat;
  padding-left: 30px;
}

.slick-next {
  left: 130px;
  background: url('../images/next_page_arrow.svg') center right no-repeat;
  padding-right: 30px;
}

.slick-disabled {
  display: none !important;
}

.parlament-slider {
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}

/* .parlament-slider p {
  display: flex;
  align-items: center;
} */

.parlament-slider p strong {
  padding-left: 5px;
}

.parlament-slider span {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 12px;
  border-radius: 5px;
}

.parlament-slider span.blue {
  background-color: #004272;
}

.parlament-slider span.orange {
  background-color: #ff9400;
}

.parlament-slider span.green {
  background-color: #00943d;
}

.parlament-slider span.purple {
  background-color: #752a95;
}

.parlament-slider span.light-green {
  background-color: #6bc729;
}

.parlament-slider span.gray {
  background-color: #b4b4b4;
}

.parlament-slider span.dark-gray {
  background-color: #666666;
}

.parlament-slider span.red {
  background-color: #f13616;
}

.parlament-slider span.yellow {
  background-color: #ffb22a;
}

footer {
  margin: 60px 0;
}

footer a {
  display: flex;
  align-items: center;
  color: black;
}

footer img {
  margin-left: 10px;
  width: 100px;
}

.footer-inline a {
  display: inline-block;
}

@media (max-width: 1200px) {
  .section-container ul {
    position: relative;
    padding-bottom: 60px;
  }

  .section-container .container {
    width: 100%;
  }

  .section-container .container.inline {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  .parlament-slider {
    width: 100%;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }

  .parlament-slider .slider-2 {
    position: static;
  }

  .slick-next {
    left: auto;
    right: 15px;
  }
}
